{% extends 'admin.html.twig' %}

{% block content %}
<h1>Modifier la Réservation</h1>
{{ form_start(form) }}
{{ form_widget(form) }}
<button class="btn btn-primary mt-2">Enregistrer</button>
{{ form_end(form) }}
{% endblock %}
