{% extends 'admin.html.twig' %}

{% block title %}Dashboard Admin{% endblock %}

{% block content %}
    <h1>Bienvenue, Admin</h1>
    <a href="{{ path('admin_user_index') }}" class="btn btn-primary">Gérer les utilisateurs</a>
{% endblock %}