{% extends 'client.html.twig' %}

{% block title %}Passer la commande{% endblock %}

{% block body %}
    <h1>Confirmez votre commande</h1>
    <form method="POST">
        <button type="submit" class="btn btn-success">Confirmer la commande</button>
    </form>
{% endblock %}
