<form method="post" action="{{ path('app_grange_delete', {'id': grange.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ grange.id) }}">
    <button class="btn">Supprimer</button>
</form>
