{% extends 'client.html.twig' %}

{% block title %}Modifier Machine{% endblock %}

{% block body %}
    <h1>Modifier la machine</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit">Enregistrer</button>
    {{ form_end(form) }}
{% endblock %}