{% extends 'client.html.twig' %}

{% block title %}Tableau de bord Agriculteur{% endblock %}

{% block body %}
    <h1>Bienvenue, Agriculteur</h1>
    <p>Voici votre espace personnel.</p>
{% endblock %}
